{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>G&G Cotações</title>
   <!--Made with love by Mutiullah Samim -->

	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilo_menu.css' %}">
</head>
<body>
    {% load static %}
    <input type="checkbox" id="chec">
    <label for="chec" class="menu">
        <img src="{% static '/images/menu.png' %}" alt="Menu">
    </label>
    <nav>
    <ul class="menu menu2">
        <li><a href="{% url 'core:menu' %}" class="menu menu2">HOME</a></li>
        <li><a href="{% url 'fornecedor:fornecedor_read' %}" class="menu menu2">FORNECEDOR</a></li>
        <li><a href="{% url 'produto:produto_read' %}" class="menu menu2">PRODUTO</a></li>
        <li><a href="/" class="menu menu2">SAIR</a></li>
    </ul>
    </nav>
    <div class="container">
        {% block conteudo %}
        {% endblock %}
    </div>
</body>
</html>