{% extends 'core/base.html' %}
{% block conteudo %}
<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-header">
            <h3>G & G COTAÇÕES</h3>
        </div>
        <div class="card-body">
            <h5>Inscrição efetuada com sucesso!</h5>
            <div>
                <p></p>
                <a href="/" class="btn btn-warning float-right"><i class="fas fa-sign-in-alt"></i> Entrar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}