{% extends 'core/base_menu.html' %}
{% block conteudo %}
<div class="d-flex justify-content-center mb-5"></div>
    <div class="card-fornecedor-excluir">
        <div class="card-header">
            <h3>G & G COTAÇÕES</h3>
            <h4>Fornecedor</h4>
        </div>
        <div class="card-body">
            <h4>Deseja realmente apagar este registro?</h4>
            <br>
            <p><strong>Código:</strong> {{ fornecedor.id | stringformat:'04d' }}</p>
            <p><strong>Nome/Razão Social:</strong> {{ fornecedor.nome }}</p>
            <p><strong>CNPJ:</strong> {{ fornecedor.cnpj }}</p>
            <p><strong>Telefone:</strong> ({{fornecedor.ddd_telefone}}) {{fornecedor.telefone}}</p>
            <form id="formExemplo" data-toggle="validator" role="form" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i> Excluir</button>
                <a href="javascript:void(0)" onClick="history.go(-1); return false;" 
                    class="btn btn-success"><i class="far fa-window-close"></i> Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

