{% extends 'core/base_menu.html' %}
{% block conteudo %}
<div class="d-flex justify-content-center mb-5"></div>
    <div class="card-produto-excluir">
        <div class="card-header">
            <h3>G & G COTAÇÕES</h3>
            <h4>Produto</h4>
        </div>
        <div class="card-body">
            <h4>Deseja realmente apagar este registro?</h4>
            <br>
            <p><strong>Código:</strong> {{ produto.id | stringformat:'04d' }}</p>
            <p><strong>Nome:</strong> {{ produto.nome }}</p>
            <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
            <p><strong>Preço:</strong> {{produto.preco}}</p>
            <p><strong>Fornecedor:</strong> {{produto.fornecedor}}</p>
            <form id="formExemplo" data-toggle="validator" role="form" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i> Excluir</button>
                <a href="javascript:void(0)" onClick="history.go(-1); return false;" 
                    class="btn btn-success"><i class="far fa-window-close"></i> Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

